{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amenity Tool</title>
    <link rel="stylesheet" href="{% static '/bootstrap_5.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static '/overpass/OverPassLayer.css' %}">
    <!--draw plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
    

</head>
<body>
    <!--<div class="container"> --><!--container start-->

        <!--NavBAR-->
        <div class="row border">
            <div class="col-md-12" style = "background-color:darkgrey">
                <nav class="navbar navbar-light" style="padding-left: 400px; background-color:darkgrey">
                    <div class="container-fluid">
                      <span class="navbar-text">
                        <h5 style="color: black;">Neighbourhood Amenity Analysis tool</h5>
                      </span>
                    </div>
                  </nav>
            </div>
        </div>

        <!--MainBODY-->
        <div class="row border" style="height: 550px">

            <div class="col-md-2 border" >

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Filters
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <!--<form id="form_id">-->

                                    <label for="country_id"><h5>1. Country</h5></label><br>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="country_id">
                                      <option  selected disabled>-- Select Country--</option>
                                        <option value="India" >India</option>
                                        <option value="USA" disabled="disabled">USA</option>
                                        <option value="Australia" disabled="disabled">Australia</option>
                                    </select>

                                    <label for="city_id"><h6>2. City</h6></label><br>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="city_id">
                                        <option  selected disabled>-- Select City--</option>
                                        <option value="Banglore">Banglore</option>
                                        <option value="Chennai">Chennai</option>
                                        <option value="Delhi" >Delhi</option>
                                        <option value="Hyderabad">Hyderabad</option>
                                        <option value="Mumbai" >Mumbai</option>
                                        <option value="Kolkata">Kolkata</option>
                                    </select>
                                    <br>
                                    <h6>3. Please draw your point of interest on the map using the location marker</h6>
                                    <br>
                                    <label for="radius_id"><h6>4. Proximity Radius</h6></label><br>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="radius_id">
                                      <option  selected disabled>-- Select radius--</option>
                                        <option value=500> 500 m</option>
                                        <option value=750> 750 m</option>
                                        <option value=1000> 1 km</option>
                                        <option value=1500> 1.5 km</option>
                                        <option value=2000> 2 km</option>
                                    </select>
                                    <br><br>

                                    <!--
                                    <select id="dummy_id" class="form-select" style="display: none;" aria-label="Default select example">
                                      <option selected>Open this select menu</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                                    -->
                                    
                                    <label for="user_lat" class="form-label" style="display: none;">Latitude</label>
                                    <input type="text" class="form-control" style="display: none;" id="user_lat" name="aoi_lat" placeholder = "Automatic Input" > 

                                    <label for="user_lon" class="form-label" style="display: none;">Longitude</label>
                                    <input type="text" class="form-control" style="display: none;" id="user_lon" name="aoi_lon" placeholder = "Automatic Input" >
                              
                                    

                                    <button type="submit" id = "sub_id" class="btn btn-success">Submit</button>

                                <!--</form>-->

                            </div>
                          </div>
                        </div>  
                      </div>

            </div>

            <div class="col-md-7" id="map_id">

            </div>


            <div class="col-md-3" id="stat_id">

              <div class="container border" style="height: 200px;">

                

                <div id="dummy_id" style="display: none; padding-top: 40px; padding-left: 50px; ">

                  <div class="form-check ">
                    <input class="form-check-input form-check-inline" type="checkbox" id="h_id" value="option1">
                    <label class="form-check-label form-check-inline" for="inlineCheckbox1">Hospitals</label>
                  </div>


                  <div class="form-check ">
                    <input class="form-check-input form-check-inline" type="checkbox" id="s_id" value="option2">
                    <label class="form-check-label form-check-inline" for="inlineCheckbox2">Schools</label>

                  </div>



                  <div class="form-check ">
                    <input class="form-check-input form-check-inline" type="checkbox" id="g_id" value="option4" >
                    <label class="form-check-label form-check-inline" for="inlineCheckbox3">Grocery Stores</label>

                  </div>



                  <div class="form-check ">
                    <input class="form-check-input form-check-inline" type="checkbox" id="r_id" value="option5" >
                    <label class="form-check-label form-check-inline" for="inlineCheckbox3">Restaurants</label>

                  </div>


                </div>
              
            </div>

              <div style="height: 300px">
                <canvas id="mychart" style="display: none;" ></canvas>
              </div>


            </div>



        </div>

    <!--</div>--><!--container end-->
</body>

<script src="{% static '/leaflet/leaflet.js' %}"></script>
<script src="{% static '/overpass/OverPassLayer.bundle.js' %}"></script>
<script src="{% static '/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static '/bootstrap_5.0/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.5.0/fetch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="{% static '/main1.js' %}"></script>


</html>